In [9]:
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [10]:
!jt -t chesterish -T -N -kl

Didn't recognize theme name: None
Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [73]:
import pandas as pd

In [74]:
df = pd.read_csv('adult.data.csv')
#print(df.head(3))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [26]:
df.shape

(32561, 15)

In [24]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

# ¿Cuántos de cada raza están representados en este conjunto de datos? Esta debería ser una serie de Pandas con nombres de carreras como etiquetas de índice.

In [13]:
race_count = df.race.value_counts()
type(race_count)

pandas.core.series.Series

In [17]:
# What is the average age of men?
men = df.age[df.sex == 'Male'].mean()
average_age_men = round(df.age[df.sex == 'Male'].mean(),1)
type(average_age_men)

float

In [5]:

# What is the percentage of people who have a Bachelor's degree?
total = df.education.count()

percentage_bachelors = round(100* df.education[df.education == 'Bachelors'].count() / total, 1)

percentage_bachelors

16.4


# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`

# ¿Qué porcentaje de personas con educación avanzada (`licenciatura`, `maestría` o `doctorado`) ganan más de 50K?
# ¿Qué porcentaje de personas sin educación avanzada ganan más de 50K?

# con y sin `Licenciatura`, `Maestría` o `Doctorado`

In [16]:





higher_education = round(100* df.education[((df.education == 'Bachelors') | (df.education =='Masters') | (df.education == 'Doctorate')) & (df.salary == '<=50K')].count() / total, 1)
lower_education = None
higher_education

age               12.3
workclass         12.3
fnlwgt            12.3
education         12.3
education-num     12.3
marital-status    12.3
occupation        12.3
relationship      12.3
race              12.3
sex               12.3
capital-gain      12.3
capital-loss      12.3
hours-per-week    12.3
native-country    12.3
salary            12.3
dtype: float64

In [24]:
df1 = df[((df.education == 'Bachelors') | (df.education =='Masters') | (df.education == 'Doctorate'))]
df1.shape

(7491, 15)

In [43]:

# percentage with salary >50Kdf1 = df[((df.education == 'Bachelors') | (df.education =='Masters') | (df.education == 'Doctorate'))]
total_high_education = df1.salary.count()
higher_education_rich = round(100*df1.education[df1.salary == '>50K'].count() / total_high_education, 1)
higher_education_rich

46.5

In [48]:
df2 = df[~((df.education == 'Bachelors') | (df.education =='Masters') | (df.education == 'Doctorate'))]
total_low_education = (total - total_high_education)
lower_education_rich = round(100 * df2.salary[df2.salary == '>50K'].count() / total_low_education  ,1)
lower_education_rich

17.4

In [49]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [51]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [68]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

total_rich = df[df['hours-per-week'] == df['hours-per-week'].min()].salary.count()
num_min_workers = df.salary[(df.salary == '>50K') & (df['hours-per-week'] == 1)].count() 
rich_percentage = round(100 * num_min_workers / total_rich , 1)
rich_percentage

10.0

In [121]:

p = df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()
p.sort_values(ascending=False, inplace=True)
highest_earning_country = p.head(1).index[0]
highest_earning_country_percentage = round(100 * p.head(1).values[0], 1)

highest_earning_country, highest_earning_country_percentage

('Iran', 41.9)

In [100]:
# What country has the highest percentage of people that earn >50K?
total_country = df[df.salary == '>50K'].salary.count()
highest_earning_country = df[df.salary == '>50K']['native-country'].value_counts().head(1).index.values[0]
highest_earning_country_percentage = round(df[df.salary == '>50K']['native-country'].value_counts().head(1) / total_country *100,1)
highest_earning_country_percentage

United-States    91.5
Name: native-country, dtype: float64

In [104]:
highest_earning_country_percentage.values[0]

91.5

In [122]:
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [126]:










# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country']=='India') & (df.salary == '>50K')].occupation.value_counts().head(1).index[0]
top_IN_occupation

'Prof-specialty'